body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.info {
    margin-bottom: 15px;
}

.center-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.left-panel {
    width: 220px;
    text-align: left;
}

.buttons button {
    width: 100%;
    margin-bottom: 6px;
    padding: 8px;
    cursor: pointer;
}

.legend {
    margin-top: 15px;
    background: #1c1c1c;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
}

.legend ul {
    padding-left: 18px;
}

canvas {
    background: #222;
    border: 2px solid white;
}

.hint {
    margin: 10px 0 20px;
    color: #ccc;
}
